/* ---------------Main------------------- */

.main{
    padding-top: 120px;
}

.main_img{
    width: 100%;
    /* height: 200px; */
    position: relative;
    width: 100%;
    /* height: 450px; */
    overflow: hidden;
}

.buttom_voice{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_img video{
   
    width: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.main_left-img img{
    width: 100%;
}

.main_bottom{
    margin-top: 20px;
}

.main_bottom img{
    width: 100%;
    
}

.main_bottom div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main_bottom img:hover {
    width: 95%;
    transition: all 0.15s ease-in-out;
}

.main_bottom-container{
    align-items: center;
    justify-content: center;
}
/* ----------------product------------- */
.product{
    margin-top: 100px;
}
.product_item{
    text-align: center;
}

.product_item a{
    text-decoration: none;
}

.product_item-container{
    box-shadow: 0px 0px 8px 2px #0f0f0f;
}
.product_item-img{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.product_item-img img{
    width: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.product_item-name{
    width: 100%;
    font-size: 20px;
    color: #686766;
    line-height: 70px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.product_item-price{
    width: 100%;
    color: #c3a196;
    font-weight: 600;
    padding-bottom: 200px;
}

/* ---------------banner------------- */
.banner_img-container{
    width: 100%;
}

.banner{
    padding-top  : 120px;
}

.banner_img{
    position: relative;
    overflow: hidden;
}
.banner_img-img{
    position: relative;
    width: 100%;
    height: 400px;
}

.banner_img-img img{
    width: 100%;
    position: absolute;
}


.banner_img-img a:nth-child(2) img{
    transform: translateX(100%);
}

.banner_img-img a:nth-child(3) img{
    transform: translateX(200%);
}

.banner_img-img a:nth-child(4) img{
    transform: translateX(300%);
}

.banner_img-img a:nth-child(5) img{
    transform: translateX(400%);
}

.button_banner{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    z-index: 90;
    font-size: 1.5rem;
    justify-content: space-between;
}

.button_banner i{
    width: auto;
    height: auto;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 50%;
}

/* .banner_img-img a:nth-child(2) img{
    transform: translateX(100%);
} */

/* .banner_img:nth-child(2) img{
    transform: translateY(100%);
} */



/* ----------jobbest------------- */


.jobbest-header--top{
    color: #00b14f;
    display: flex;
    font-weight: 600;
    gap: 10px;
    line-height: 28px;
    font-size: 2.0rem;
}
    
.jobbest-header--bottom{
    display: flex;
    align-items: center;
}

.jobbest-header--bottom_filter input{
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
}

.jobbest-header--bottom-button{
    background-color: #dcdcdc;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 7px 10px;
    margin: 5px 10px;
    border-radius: 15px;
}

.jobbest{
    background-color: #f5f5f5;
    padding: 20px 0;
}

.jobbest-mid a{
    text-decoration: none;
   
    
}

.jobbest-mid div > a > div{
    background-color: #fcfcfc;
    margin: 7px 0;
   padding: 10px 15px;
   border-radius: 15px;
   border: 1px solid  #e2e2e2; ;
}

.jobbest-mid div > a:hover >div {
    border: 1px solid #a8a8a8;
    background-color: white;
}

.jobbest-mid-top--left img{
    width: 100%;
}

.jobbest-mid-top--right{
    color: #212f3f;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.jobbest-mid-top--right p{
    color: #6f7882;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.jobbest-mid-bottom{
    display: flex;
}

.jobbest-mid-bottom-item{
    background: #f4f5f5;
    border-radius: 4px;
    color: #212f3f;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 4px 8px;
}

.jobbest-bottom{
    margin: 10px 0;
    font-size: 1.4rem;
    text-align: center;
}

.jobbest-bottom span{
    margin: 0 5px;
}

.jobbest-bottom i{
    padding: 8px 10px;
    color: #009643;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #00b14f;
}

/* --------------jobintereting---------- */

.jobinteresting_left{
    background-color: white;
    border-radius: 15px;
}

.jobinteresting_right-img--container{
    width: 100%;
}



.jobinteresting_right-img{
    position: relative;
    overflow: hidden;
}
.jobinteresting_right-img-number{
    position: relative;
    width: 100%;
    height: 500px;
}

.jobinteresting_right-img-number img{
    width: 100%;
    position: absolute;
}

.jobinteresting_right-img-number a:nth-child(2) img{
    transform: translateX(100%);
}

.jobinteresting_right-img-number a:nth-child(3) img{
    transform: translateX(200%);
}



.jobinteresting_right-img--button{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    z-index: 90;
    font-size: 1.5rem;
    justify-content: space-between;
}

.jobinteresting_right-img--button i{
    width: auto;
    height: auto;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 50%;
}

/* ------bannermid-------- */
.bannermid{
    margin: 10px 0;
}

.bannermid_items img{
    width: 100%;
    height: auto;
}

/* --------------headeruser------------- */
.insert{
    margin: 80px 0 60px;
}
#preview-container {
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    overflow: hidden;
}

#preview-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.insert-profile-left {
    /* background-color: rgb(255, 255, 255);
    color: #000000;
    border: 1px solid #b7b7b7;
    margin-right: 5%;
    border-radius: 10px; */

    border: 1px solid var(--border-color);
    border-radius: 10px;
}


.insert-profile-left > div{
    width: 100%;
    margin: 16px 0;
}

.insert-profile-left h1{
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
}

.insert-profile-left input{
    outline: none;
    color: #000000;
    font-size: 1.6rem;
    border: none;
    width:  100%;
    margin: 4px 0;
    padding: 3px 4px;
    background-color: rgba(255, 255, 255, 0); 
}

.insert-profile-left i{
    color: var(--main-color);
    margin-right: 5px;
    margin-left: 20px;
}

.insert-profile-left-img input{
    color: white;
}
.insert-profile-left-img{
    text-align: center;
}

.insert-profile-left-img img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.insert-profile-right-name input:nth-child(1){
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: black;
}

.insert-profile-right-name input:nth-child(2){
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
}

.insert-profile-left-mail, .insert-profile-left-phone, .insert-profile-left-fb, .insert-profile-left-address{
    display: flex;
    align-items: center;
    font-size: 1.rem;
}

.insert-profile-right-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insert-profile-right{
    display: flex;
}
/* CSS để tạo ô và dấu "+" */
.image-container {
    width: 150px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.image-container span{
    font-size: 1.2rem;
    color: #545454;
}
.insert-profile-right-items > div >div{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.image-container:hover {
    background-color: #f0f0f0;
}

.insert-profile-right-items-name{
    font-size: 1.3rem;
    font-weight: 700;
}
/* input[type="file"] {
    display: none;
} */
/* Style để đảm bảo ảnh trong ô trống không bị tràn ra ngoài */

/* CSS styles here */

/* Define the styles for the button with the class "styled-button" */
.styled-button {
    margin: 10px 0;
    display: flex;
    text-align: center;
    background-color: #007BFF; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove the button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change the cursor on hover */
    font-size: 16px; /* Font size */
}

/* Add a hover effect */

.submit_profile{
    margin: 8px auto;
    width: 80%;
}

@media (max-width: 768px) {
    #hinhAnh{
        max-width: 100px;
    }
    .insert-profile-left input{
        font-size: 0.8rem;
    }
    .image-container {
        width: 50px;
        height: 50px;
        margin: 3px;
    }
    
.insert-profile-left h1{
   
    font-size: 0.9rem;
}
.image-container span{
    font-size: 25px  !important;
}
.insert-profile-right-items-name{
    font-size: 1.0rem;
    
}
  }


.grid-container {
    background-color: transparent;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    box-sizing: border-box;
}

.grid-item {
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
}

.grid-item img {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 270px;
    height: 250px;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid #e0e0e0;
}
a.darken {
    display: inline-block;
    background: black;
    border-radius: 8px;
    padding: 0;
    position: relative;
}

a.darken img {
    display: block;
    object-fit: cover;

    -webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
}
a.darken:hover .overlay {
    opacity: 1; /* Hiển thị văn bản khi di chuột vào */
    cursor: pointer;
}
a.darken:hover img {
    opacity: 0.7;

}
body{
    background-color: #fff;
}
.overlay {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.popup-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 95%;
    position: fixed;
    transform: translate( -50%);
    bottom: 0%;
    left: 50%;
    background-color: white;
    padding: 70px 30px 30px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
}

.dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.495);
    z-index: 998; 
    display: none;
}

/* Hiển thị popup và overlay khi cần thiết */
.popup-container.active,
.dim.active {
    display: flex;
}
.grid-item .content {
    padding: 16px;
}

.grid-item h3 {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: bold;
}

.grid-item p {
    margin: 0;
    font-size: 14px;
    color: #666666;
}
.post-title{
    display: none;
    position: absolute;
    bottom: 10px; /* Điều chỉnh vị trí của tiêu đề */
    left: 10px; /* Điều chỉnh vị trí của tiêu đề */
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    z-index: 2; /* Đặt tiêu đề lên trên lớp mờ */    
}

.post-meta {
    display: flex;
    width: 250px;
    align-items: center;
    padding: 12px 0 20px 0;
}
.interaction{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap:5px;
    align-items: center;
}
#avatar{
    float: left;
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 50%;
}
.user-name{
    float: left;
    font-size: 14px;
    font-weight: 550;
    color: var(--text-color);
}
.like-count, .comment-count {
    font-size: 14px;
    color: #666666;
}

.add-post-btn {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.interaction-btn {
    background-color: transparent;
    cursor: pointer;
    color: #9e9ea7;
    border: none;
    padding-left: 5px;
    margin-right: 0;
    
}
.post-form {
    max-width: 600px;
    margin: 5px;
    width: 50%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-form label {
    display: block;
    margin-bottom: 8px;
}

.post-form input,
.post-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.upload_post{
    border:dashed 1px #9e9ea7;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
.upload_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 0 20px 0 20px;
}
.upload_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.btn_upload{
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.title_post{
    font-size: 20px;
    color: #0d0c22;
}
.description_post{
    font-size: 14px;
    line-height: 1.5;
    color: #0d0c22;
}
.a_btn{
    text-decoration: none;
    color: #ffffff;
}
#dropArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 500px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
#fileInput {
    display: none;
}

#preview {
    max-width: 100%;
    max-height: 100%;
    display: none;
}
#browseButton {
    margin-top: 10px;
    background-color: transparent;
    color: #0d0c22;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-bottom: solid 2px var(--main-color);
}
#fileInput{
    display: none;
}
#dropArea_p{
    margin-top: 10px;
    font-size: 16px;
    text-decoration-color: #0d0c22;
}
.post{  
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
}
.post form{
    width: 100%;
    display: flex;
    justify-content: center;
}
#lbl{
    font-size: 16px;
}
#confirmDialog {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
}
#postButton{
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    float:right
}
#cancelButton{
    padding: 10px 15px;
    margin-right:10px;
    background-color: transparent;
    color: #0d0c22;
    border:solid 1px #9e9ea7;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}
#confirmDialog h2 {
    font-size: 24px;
    justify-content: flex-start;
    color: #0d0c22;
    margin: 10px 0 10px 0;
}
#confirmDialog p {
    font-size: 16px;
    color: #0d0c22;
    justify-content: flex-start;
    margin: 5px 0 5px 0;
    line-height: 1.5;
}
#confirmDialog div {
    justify-content: center;
    margin: 10px 0 10px 0;
}
#OK-btn {
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}
#Cancle-btn{
    padding: 10px 15px;
    margin-right:10px;
    font-size: 16px;
    background-color: transparent;
    color: #0d0c22;
    border:solid 1px #9e9ea7;
    border-radius: 20px;
    cursor: pointer;
}