.manager_left{
    background-color: rgb(34,45,50);
    color: white;
}





.infor_avatar img{
    width: 100%;
    border-radius: 50%;
}

.infor_name{
    padding: 0 5px;
}

.web div{
    padding: 0 3px;
    border-right: 1px solid #ccc;
}

.manager_left-infor > div{
    display: flex;
    align-items: center;
    margin: 15px 10px;
}

.function_header{
    background-color: rgb(26,34,38);
    padding: 12px 9px;
    color: rgb(118, 118, 118);
    font-size: 1.2rem;
}

.function_items a{
    color: white;
    text-decoration: none;
}

.function_items div{
    padding: 12px 15px;
    font-size: 1.1rem;
}

.function_items div:hover{
    background-color: rgb(26,34,38);
}

.function_items div i{
    padding: 0 5px;
}